{%- assign next_class = "disabled" -%}
{%- if paginator.next_page -%}{%- assign next_class = "" -%}{% endif %}
{%- assign previous_class = "disabled" -%}
{%- if paginator.previous_page -%}{%- assign previous_class = "" -%}{% endif %}

<ul class="nav flex-column">
  <main class="all-posts">
    {% for post in paginator.posts %}
    <li class="nav-item">
      <a class="text-decoration-none" href="{{ post.url | relative_url }}">
        <div class="d-flex flex-row">
          <div class="py-4">
            {%- assign category = post.category -%}
            {%- include category-icon.html -%}
          </div>

          <div class="p-2">
            <div class="text-primary h3">
              {{ post.title | escape }}
            </div>
            <div class="text-secondary small">
              {{ post.date | date: site.date_format }}
            </div>
          </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </main>
</ul>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a href="{{ paginator.next_page_path }}" class="nav-link {{ next_class }}">
      &laquo;&nbsp;Articles précédents
    </a>
  </li>
  <li class="nav-item">
    <a href="{{ paginator.previous_page_path }}" class="nav-link {{ previous_class }}">
      Articles suivants&nbsp;&raquo;
    </a>
  </li>
</ul>
