---
# only the main files needs this front matter, not partials.
---

/*
 * Global
 */
:root {
  --bs-link-color: #086dc3;
  --bs-link-hover-color: #333;
  --bs-body-bg: #dcdcdc;
}

body {
  font-size: larger;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

table {
  // responsive
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  th,
  td {
    border: 1px solid black;
    padding: 0.75rem;
    vertical-align: top;
  }

  th {
    color: white;
    background-color: #343a40;
    border-color: #454d55;
  }

  tbody tr:hover {
    background-color: #9fcdff;
  }
}

/*
 * Posts
 */
.all-posts {
  .post-icon {
    width: 5%;
    height: 100%;
    margin: auto;
  }

  .post-title {
    width: 95%;
  }
}

// Permet de différencier les liens visités et non-visités sur les articles de type "Liens en vrac".
.liens-post a {
  &:visited {
    color: #609;
  }
}

// pas d'équivalence à fa-2x avec bootstrap icons
.bi-1x {
  font-size: 1em;
}

.bi-2x {
  font-size: 2em;
}

/**
 * Code
 */
@import 'code';
