---
# only the main files needs this front matter, not partials.
---

@import "bootstrap";
@import "font-awesome";
@import "code";

body {
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  background-color: #ebebeb;
}

table {
  @extend .table;
}
