---
layout: default
---

{%- include header.html -%}
<main role="main" class="container about">
  <div class="row">
    <div class="col-sm-12 col-lg-10 py-3 mx-auto">
      <article itemscope itemtype="https://schema.org/Person">
        <header class="text-center">
          <h1 itemprop="name">Marc Wrobel</h1>

          {%- assign icon_size = "1" -%}
          {%- assign show_text = true -%}
          {%- assign links = site.links | where: "about",true | sort: "order" -%}
          {% include navigation.html %}
        </header>

        <div itemprop="description">
          {{ content }}
        </div>
      </article>
    </div>
  </div>
</main>

<footer class="container mt-auto py-3 text-center d-print-none">
  <a href="{{ page.translated_page | absolute_url }}">
    {{ page.translated_title }}
    <i class="bi bi-translate"></i>
  </a>
</footer>
