---
layout: default
---

{%- if paginator.page == 1 -%}
{%- assign type = "WebSite" -%}
{%- else -%}
{%- assign type = "WebPage" -%}
{%- endif -%}

<div class="d-flex align-items-center min-vh-100">
  <main itemscope itemtype="https://schema.org/{{ type }}" role="main" class="container">
    <div class="row">
      <div class="col-sm-6 py-3">
        <div class="d-flex justify-content-center">
          <h1 class="d-none">{{ page.title }}</h1>
          <a class="w-100" href="{% link a-propos.md %}" rel="me">
            <img itemprop="image" class="w-50 img-responsive center-block d-block mx-auto" src="{% link /assets/img/icon.svg %}" alt="">
          </a>
        </div>

        {% if paginator.page == 1 -%}
        <div itemprop="creator" itemtype="https://schema.org/Person" class="d-none">
          <span itemprop="name">{{ author.name }}</span>
          <span itemprop="url">{{ author.url }}</span>
        </div>

        <div itemprop="abstract" class="text-center">
          {{ content }}
        </div>

        {%- assign icon_size = "2" -%}
        {%- assign show_text = false -%}
        {%- assign links = site.links | where: "home",true | sort: "order" -%}
        {% include navigation.html %}
        {%- endif %}
      </div>

      <div class="col-sm-6 py-3">
        {% include posts-list.html %}
      </div>
    </div>
  </main>
</div>
