---
layout: default
---

<div class="d-flex align-items-center min-vh-100">
  <main role="main" class="container">
    <div class="row">
      <div class="col-sm-6 py-3">
        <div class="d-flex justify-content-center">
          <a class="py-3" href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/icon-192.png' | relative_url }}">
          </a>
        </div>

        <div class="text-center">
          {{ content }}
        </div>

        {%- assign home = site.links | where: "display", "home" -%}
        {%- assign everywhere = site.links | where: "display", "everywhere" -%}
        {%- assign links = home | concat: everywhere | sort: "order" -%}
        {%- assign icon_size = "2" -%}
        {% include navigation.html %}
      </div>

      <div class="col-sm-6 py-3 mx-auto">
        {% include posts-list.html %}
      </div>
    </div>
  </main>
</div>
