---
layout: default
---

<div class="d-flex align-items-center min-vh-100">
  <main role="main" class="container">
    <div class="row">
      <div class="col-sm-6 py-3">
        <div class="d-flex justify-content-center">
          <a class="w-100" href="{% link a-propos.md %}">
            <img class="w-50 img-responsive center-block d-block mx-auto" src="{% link /assets/img/icon.svg %}" alt="Logo">
          </a>
        </div>

        {% if paginator.page == 1 -%}
        <div class="text-center">
          {{ content }}
        </div>

        {%- assign icon_size = "2" -%}
        {%- assign show_text = false -%}
        {%- assign links = site.links | where: "home",true | sort: "order" -%}
        {% include navigation.html %}
        {%- endif %}
      </div>

      <div class="col-sm-6 py-3">
        {% include posts-list.html %}
      </div>
    </div>
  </main>
</div>
