---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="text-secondary">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: site.date_format }}
      </time>
      •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ site.author.name | escape }}</span>
      </span>
    </p>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>
