---
layout: default
---

{%- include header.html -%}
<main role="main" class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-10 col-xl-8 py-3 mx-auto">
      <article itemscope itemtype="http://schema.org/BlogPosting" class="text-justify">
        <header>
          {%- if page.category == "liens" -%}
          <a href="{{ page.link }}" title="{{ page.title | escape }}">
            <h1 itemprop="name headline">{{ page.title | escape }}</h1>
          </a>
          {%- else -%}
          <h1 itemprop="name headline">{{ page.title | escape }}</h1>
          {%- endif -%}

          <p class="text-secondary small">
            {% assign category = page.category %}
            {%- include category-icon.html -%}
            •
            <time datetime="{{ page.date | date_to_xmlschema }}">
              {{ page.date | date: site.date_format }}
            </time>
            •
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">{{ page.author | default: site.author.name | escape }}</span>
            </span>
          </p>
        </header>

        <div itemprop="articleBody">
          {{ content }}
        </div>
      </article>
    </div>
  </div>
</main>
{%- include footer.html -%}
