---
layout: default
---

{%- include header.html -%}
<main role="main" class="container {{ page.category }}-post">
  <div class="row">
    <div class="col-sm-12 col-lg-10 py-3 mx-auto">
      <article itemscope itemtype="https://schema.org/BlogPosting">
        <header>
          <h1 itemprop="name headline">{{ page.title | escape }}</h1>

          <p class="text-secondary small">
            {% assign category = page.category %}
            {%- include category-icon.html -%}
            •
            <time datetime="{{ page.date | date_to_xmlschema }}">
              {{ page.date | date: site.date_format }}
            </time>
            •
            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
              <span itemprop="name">{{ page.author | default: site.author.name | escape }}</span>
            </span>
          </p>
        </header>

        <div class="pt-2" itemprop="articleBody">
          {{ content }}
        </div>
      </article>

      {%- include article-navigation.html -%}
    </div>
  </div>
</main>
{%- include footer.html -%}
